.navHr {

    width: 90%;
    color: black;
}

#canvasDiv {
    display: flex;
    justify-content: flex-start;
    justify-items: center;
    align-items: center;

    width: 90%;
    Height: 400px;

}

#MainWeekZeroCanvas {
    width: 600px;
    height: 350px;

    box-shadow: 0 0 10px 5px darkslategray;
}

#CanvasSideDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;

    width: 400px;
    height: 350px;
    margin-right: 200px;

    background-color: rgb(255, 255, 255);

}

#runButton {
    width: 120px;
    height: 60px;
    padding: 10px;

    border-radius: 10px;
    background-color: #4285F4;

    color: white;
}

#stopButton {
    width: 120px;
    height: 60px;
    padding: 10px;
    border-radius: 10px;
    background-color: #4285F4;

    color: white;
}
